{% extends 'index.html'%}
{% load staticfiles %}

{% block titulo %}
Productos
{% endblock titulo %}

{% block body %}
<div class="container">
    <h4>Pulpa de fruta 100% natural, sin adición de saborizantes, colorantes artificiales, ni preservativos, ademas no
        contienen azucar</h4>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/1.png' %}">
                <div class="card-body">
                    <h5 class="card-title">Pulpa Verde</h5>
                    <p class="card-text">Precio: $12.000</p>
                    <p class="card-text">Cantidad disponible: 3</p>
                    <a href="#" class="btn btn-success">Seleccionar</a>
                    <a href="#" class="btn btn-primary">Información nutricional</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/2.png' %}">
                <div class="card-body">
                    <h5 class="card-title">Pulpa Rosado</h5>
                    <p class="card-text">Precio: $12.000</p>
                    <p class="card-text">Cantidad disponible: 3</p>
                    <a href="#" class="btn btn-success">Seleccionar</a>
                    <a href="#" class="btn btn-primary">Información nutricional</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/3.png' %}">
                <div class="card-body">
                    <h5 class="card-title">Pulpa Amarillo</h5>
                    <p class="card-text">Precio: $12.000</p>
                    <p class="card-text">Cantidad disponible: 3</p>
                    <a href="#" class="btn btn-success">Seleccionar</a>
                    <a href="#" class="btn btn-primary">Información nutricional</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/4.png' %}">
                <div class="card-body">
                    <h5 class="card-title">Pulpa Rojo</h5>
                    <p class="card-text">Precio: $12.000</p>
                    <p class="card-text">Cantidad disponible: 3</p>
                    <a href="#" class="btn btn-success">Seleccionar</a>
                    <a href="#" class="btn btn-primary">Información nutricional</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/5.png' %}">
                <div class="card-body">
                    <h5 class="card-title">Pulpa Naranja</h5>
                    <p class="card-text">Precio: $12.000</p>
                    <p class="card-text">Cantidad disponible: 3</p>
                    <a href="#" class="btn btn-success">Seleccionar</a>
                    <a href="#" class="btn btn-primary">Información nutricional</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/6.png' %}">
                <div class="card-body">
                    <h5 class="card-title">Pulpa Blanco</h5>
                    <p class="card-text">Precio: $12.000</p>
                    <p class="card-text">Cantidad disponible: 3</p>
                    <a href="#" class="btn btn-success">Seleccionar</a>
                    <a href="#" class="btn btn-primary">Información nutricional</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}